<nav>
    <div>
        <p style='font-family: "Galada", cursive;'>SEEEK Tiny's</p>

    </div>

    <div class="left_nav">
        <i class="fa-regular fa-user"></i>
        <a href="/login">Giriş yap </a>
        <a href="/hotels">Oteller</a>
        <a href="/Hakkımızda">Hakkımızda</a>
        <a href="/rezervasyon">Rezervasyonlarım</a>
        <a href="/profil">Profil</a>


    </div>
</nav>