<html lang="en">
<head>
    <%-include('./inc/head.ejs')%>
</head>
<body>





  

      
    <div class="forgot-password-main">
        <div class="forgot-password">
            <div>
                <div id="forgot-password-text">
                    <h2>Hesabını Bul</h2>
                    <p>Şifreni değiştirmek için hesabınla ilişkilendirilmiş e-posta adresini gir.</p>

                </div>
                <div>
                    <form action="/forgot-password" method="POST">
                        <input type="email" name="email" required placeholder="E-posta">
                        <button type="submit">Şifre Sıfırla</button>
                    </form>

                </div>
                
                  
                   
            </div>

            

        </div>

    </div>





   
    

    <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
        <script>
          alert("<%- errorMessage %>");
        </script>
      <% } %>
      
</html>