<html lang="en">

<head>
    <%-include('./inc/head.ejs')%>
</head>

<body>
    <%-include('./inc/nav.ejs')%>

    <div id="image">
        <section class="index_top">
            
            <div id="line">
                <p id="text1">Hayattan kaçmak için değil hayatı kaçırmamak için</p>
                <p id="text2">Seeek Tiny's sizinle</p>


            </div>

            <form class="search-bar" action="#" method="get">
                <div id="seach-bar">
                    
                        <div class="search-item">
                        <span class="search-label">Going to</span>
                        <input type="text" name="destination" placeholder="Destination, property or address" required>
                        </div>
                        <div class="search-item">
                        <span class="search-label">Check-in</span>
                        <input type="date" name="checkin" required>
                        </div>
                        <div class="search-item">
                        <span class="search-label">Check-out</span>
                        <input type="date" name="checkout" required>
                        </div>
                        <div class="search-item">
                        <span class="search-label">Travelers</span>
                        <input type="text" name="travelers" placeholder="2 adults, 1 room" required>
                        </div>
                        <div class="">
                            <button type="submit" class="search-btn">
                                <i class="fa fa-search"></i>
                            </button>  
                        </div>
                    
                    
                    
                    
                </div>
            </form>

         

        </section>
    </div>


   
    <div class="index-hotels">
        <div>
            <h1>Tarihi yaklaşan otel fırsatları</h1>
        </div>
        <div id="cards">
            <div class="cards">
                <div>
                    <div class="img-part">
                        <img src="/public/images/image1.jpg" alt="">


    
                    </div>
                    <div class="name-part">
                        <h2>Nehir Resort Otel</h1>
                            <div>
                                <p>6.3 - Fena Değil</p>
                                <p> <i class="fa-solid fa-location-dot"></i> Antalya</p>
                            </div>
    
    
                    </div>
                    <div class="price-part">
    
                        <p class="price">₺4.732</p>
                        <div>
                            <p>/gece</p>
                            <p> 25 Nis - 30 Nis</p>
    
    
    
                        </div>
                        <button>Fırsatı görün</button>
    
    
                    </div>
                 
                </div>
            </div>
    
            <div class="cards">
                <div>
                    <div class="img-part">
                        <img src="images/coast-4478424_1920.jpg" alt="">
    
                    </div>
                    <div class="name-part">
                        <h2>Nehir Resort Otel</h1>
                            <div>
                                <p>6.3 - Fena Değil</p>
                                <p> <i class="fa-solid fa-location-dot"></i> Antalya</p>
                            </div>
    
    
                    </div>
                    <div class="price-part">
    
                        <p class="price">₺4.732</p>
                        <div>
                            <p>/gece</p>
                            <p> 25 Nis - 30 Nis</p>
    
    
    
                        </div>
                        <button>Fırsatı görün</button>
    
    
                    </div>
                </div>
            </div>
    
           
            <div class="cards">
                <div>
                    <div class="img-part">
                        <img src="images/coast-4478424_1920.jpg" alt="">
    
                    </div>
                    <div class="name-part">
                        <h2>Nehir Resort Otel</h1>
                            <div>
                                <p>6.3 - Fena Değil</p>
                                <p> <i class="fa-solid fa-location-dot"></i> Antalya</p>
                            </div>
    
    
                    </div>
                    <div class="price-part">
    
                        <p class="price">₺4.732</p>
                        <div>
                            <p>/gece</p>
                            <p> 25 Nis - 30 Nis</p>
    
    
    
                        </div>
                        <button>Fırsatı görün</button>
    
    
                    </div>
                </div>
            </div>

        </div>
      
    </div>

</body>

</html>