<html lang="en">
<head>
    <%-include('./inc/head.ejs')%>
</head>
<body>


    <div class="forgot-password-main">
        <div class="forgot-password">
            <div>
                <div id="forgot-password-text">
                    <h2>Yeni şifre belirle </h2>
                    

                </div>
                <div id="reset">
                    <form action="/reset-password" method="POST">
                        <input type="hidden" name="email" value="<%= email %>">
                        <input type="email" name="email" required placeholder="e posta adresiniz ">              
                        <input type="text" name="newPassword" required placeholder="Yeni Şifre">
                        <button type="submit">Şifre Sıfırla</button>
                    </form>

                </div>
                
                  
                   
            </div>

            

        </div>

    </div>





    


    <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
        <script>
          alert("<%- errorMessage %>");
        </script>
      <% } %>
    
</body>
</html>